<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Ciudad</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'listar_parroquias' %}">Listar Parroquias</a></li>
            <li><a href="{% url 'crear_parroquia' %}">Crear Parroquia</a></li>
            <!-- Enlaces de barrio a ser implementados por tu compañero -->
            <!-- <li><a href="#">Listar Barrios</a></li> -->
            <!-- <li><a href="#">Crear Barrio</a></li> -->
        </ul>
    </nav>
    <hr>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
